<html>
<head>
  <title>Backbone Trainning</title>
</head>
<body>

<!-- Template -->
<script id="todos-tmpl" type="text/html">
  <% _.each( todos, function(item){ %>
    <div class='todo-item'>
      <p>Title: <%= item.get('title') %> </p>
    </div>
  <% }); %>
</script>

<div id="listOfTodos"></div>

<script src="scripts/jquery-1.10.0.js"></script>
<script src="scripts/underscore.js"></script>
<script src="scripts/backbone.js"></script>

<script type="text/javascript">
  // returns array of todos
  function fakeTodos(){
    var todos = [];
    for (var i = 1; i <= 1000; i++) {
      var todo =  new Backbone.Model({
        title: 'Task ' + i,
      })
      todos.push(todo);
    }  
    return todos;
  }

  // view for the list of todos 
  var ListView = Backbone.View.extend({
    template: _.template($('#todos-tmpl').html()),
    render: function() {
        $(this.el).html(this.template({
            todos: this.collection
        }));
        $('#listOfTodos').append(this.el);
      return this;
    }
  });

  $(function() {
    // create array of todos
    var todos = fakeTodos();
    // the todos list
    var todosList = new ListView({ collection: todos });
    todosList.render();
  })
</script>

</body>
</html>