<html>
<head>
  <title>Backbone Trainning</title>
</head>
<body>

<!-- Template -->
<script id="todos-tmpl" type="text/html">
  <% _.each( todos, function(item){ %>
    <div class='todo-item'>
      <p>Title: <%= item.get('title') %> </p>  
      <p>Done: <%= item.get('done') %> </p>
    </div>
  <% }); %>
</script>

<div id="listOfTodos"></div>

<script src="scripts/jquery-1.10.0.js"></script>
<script src="scripts/underscore.js"></script>
<script src="scripts/backbone.js"></script>

<script type="text/javascript">
  // array of todos
  var todos = [
    new Backbone.Model({
      title: 'Task 1',
      done: false
    }),
    new Backbone.Model({
      title: 'Task 2',
      done: false
    }),
    new Backbone.Model({
      title: 'Task 3',
      done: false
    }),
    new Backbone.Model({
      title: 'Task 4',
      done: false
    })
  ];

  // view for the list of todos 
  var ListView = Backbone.View.extend({
    template: _.template($('#todos-tmpl').html()),
    render: function() {
        $(this.el).html(this.template({
            todos: this.collection
        }));
        $('#listOfTodos').append(this.el);
      return this;
    }
  });

  // add list of todos to DOM
  $(function() {
    var todosList = new ListView({ collection: todos });
    todosList.render();
  })
</script>

</body>
</html>